<%= turbo_frame_tag member do %>
    <div class="member">
        <div class="box me-2 mt-2">
            <%= link_to member.member_name, edit_format_path(id: member.member_id), data: { turbo_frame: "modal" }, class:"member-link" %>
        </div>
    </div>
<% end %>
