<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= bootstrap_form_with(model: @member, url: create_member_format_path, local: true) do |form| %>
        <div class="member">
            <%= form.text_field :member_name, maxlength: 15 %>
            <%= form.hidden_field :group_id, value: @group.group_id %>
        </div>
        <div class="actions">
            <%= form.submit "追加する" %>
        </div>
    <% end %>
</body>
</html>
