<div class="wrap cover-all mx-auto">
  <header class="p-3 fs-4 text-center">
      Warikan App
  </header>
  <div class="content p-4">
    <p>このアプリは、グループ内でのお金の立て替えを記録します。</p>
    <p>グループ名と参加するメンバーを入力し登録してください。</p>
    <%= bootstrap_form_with(model: @format, url: formats_path, local: true) do |form| %>
      <div class="group">
        <%= form.text_field :group_name, maxlength: 15, label: "グループ名" %>
      </div>
      <div class="no-required-style">
        <label class="mb-2">メンバー名</label>
        <div class="d-flex mb-0">
          <input type="text" id="inputText" maxlength="8" class="form-control" placeholder="8文字以内">
            <button type="button" class="btn btn-link" id="addMemberButton">
              <i class="bi bi-plus-circle"></i>
            </button>
        </div>
      </div>
      <div class="members" id="members"></div>
      <div class="actions">
        <%= form.submit "登録する", class: "btn btn-outline-primary mt-5 w-100" %>
      </div>
    <% end %>
  </div>
  <footer class="fw-light fs-6 p-3">
    <p class="m-0">©︎2024 Warikan App</p>
  </footer>
</div>

<script>
  document.addEventListener('turbo:load', () => {
    const addMemberButton = document.getElementById('addMemberButton');
    const membersContainer = document.getElementById('members');
    const inputText = document.getElementById('inputText');
    let memberNumber = 0

    addMemberButton.addEventListener('click', () => {
      memberNumber++
      const memberName = inputText.value.trim();
      if (memberName === '') return;

      // Create new member element
      const memberElement = document.createElement('span');
      memberElement.classList.add('member');
      memberElement.innerHTML = `
        <input value="${memberName}" type="hidden" name="group_member[member_name${memberNumber}]" id="group_member_member_name${memberNumber}">
        <span class="box me-2 mt-3">${memberName}<button type="button" class="remove-member btn btn-light btn-sm ms-1"><i class="bi bi-x"></i></button></span>
      `;

      // Append to members container
      membersContainer.appendChild(memberElement);
      inputText.value = '';

      // Add remove button functionality
      memberElement.querySelector('.remove-member').addEventListener('click', () => {
        membersContainer.removeChild(memberElement);
      });
    });
  });
</script>
